*{
    margin: 20px;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.FullMenu {
    width: 80%;
    
    font-size: 30px;
    background-color: green;
    border-radius: 40px;
    margin: 20px;
    padding: 20px;
    color: aliceblue;
    display: flex;
}
